{% extends 'base.html' %}

{% block head %}
  <style>
    table {
      border: 2px solid;
    }
    th {
      border: 1px dashed;
      padding: 5px 10px;
    }
    td {
      border: 1px dotted;
      padding: 3px;
      text-align: center;
    }
  </style>
{% endblock %}


{% block body %}
  <table>
    <thead>
      <tr>
        <th>순위</th>
        <th>프로그래밍 언어</th>
      </tr>
    </thead>
    <tbody>
      <!-- [코드 추가] Django Template에서 반복문 작성하기 -->
      {%  %}
      <tr>
        <!-- [코드 추가] 반복 횟수를 1부터 표시하기 -->
        <td>{{}}위</td>
        <!-- [코드 추가] URL 별칭 사용하기 -->
        <td><a href="">{{}}</a></td>
      </tr>
      {%  %}
    </tbody>
  </table>
{% endblock %}